<!-- <h1>Confirm your property!</h1>

<p>Your details are as follows:</p>

<ul>
	<li>Title: <%= @listing.title %></li>
	<li>Description: <%= @listing.description %></li>
	<li>Location: <%= @listing.location %></li>
	<li>Contact email: <%= @listing.email %></li>
</ul>

<div class="submit-field">

  	<button>Confirm<% @listing.save! %></button>


  <%= link_to new_listing_path do %>
  	<button>Cancel</button>
  <% end %>
</div> -->
